<h1>Cageflix</h1>
<h2>Netflix for Nic Cage movies</h2>

<%= form_for @movie, url: create_path do |f| %>

  <div class="errors">
    <% if @movie.errors.full_messages.any? %>
    <% @movie.errors.full_messages.each do |error| %>
        <%= error if @movie.errors.full_messages.each == error %><br />
        <% end %>

    <% end %>
    </div>




  <div>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name, autofocus: true %>
  </div>
  <div>
    <%= f.label :year, "Year" %>
    <%= f.number_field :year %>
  </div>
  <div class="syn">
    <%= f.label :synopsis, "Synopsis" %>
    <%= f.text_field :synopsis, autofocus: true %>
  </div>
  <div>
    <%= f.submit "Create Movie" %>
  </div>
<% end %>
